/* hoja de estilo hoja1.css*/
center {
	text-decoration: underline;
	font-size: 25px;
	font-weight: 800;
	font-family: Verdana;	
}

body {
	text-align: justify;
	line-height: 85%	
}

div {
	font-style: italic;	
}

p { margin: 0; 
}